db/
greybox_tmp/
incremental_db/
output_files/
.DS_Store
simulation
Debug.*
*.swp
*.bak
*.qws
*.done
*.asm.rpt
*.eda.rpt
*.fit.rpt
*.fit.smsg
*.fit.summary
*.flow.rpt
*.jdi
*.map.rpt
*.map.smsg
*.map.summary
*.pin
*.pof
*.sof
*.sta.rpt
*.sta.summary
